@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.section{
}
.container{
    padding: 0 240px;
}
.btn{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
}
.hide{
    display: none;
}
/* gamer menu section stard */
.head-section{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
}
.menu .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu .logo p{
    font-size: 45px;
    font-weight: bold;
}
.menu .logo p span{
    color:#ff42A5;
}
/* menu item part  */
.menu .manu-item ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.menu .manu-item ul li{
    list-style-type: none;

}
.menu .manu-item ul li a{
    text-decoration: none;
    font-weight: 18px;
    color: #3c354f;
    text-align: center;
}
/* follow us part  */
.menu .manu-item .follow{
    display: flex;
    gap: 20px;
    padding: 17px ;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.menu .manu-item .follow a{
    color: #ff42A5;
}
/* gamer menu section end */

/* play-game-banner part stard */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-background{
    background: url(../images/Group\ 14.png);
   background-size: cover;
   background-repeat: no-repeat;
    width: 100%;
    padding: 148px 0 ;
}
.banner .banner-text-part{
    padding: 0 50px 0 0;
 
}
.banner .banner-text-part h2{
    color: #0b0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner .banner-text-part h1{
     font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 24px 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner .banner-text-part p{
    margin: 17px 0;
    font-size: 20px;
    font-weight: 500;
    color: #534c64;
}
.banner .banner-text-part .button .btn{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 24px;
}
.banner .banner-text-part .button #go{
    background: #4ec5f7;
}
.banner .banner-image-part {
    background-size: cover;
}
/* play-game-banner part end */

/* we ara gamer part stard */
.we-r-gmaer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer{
    display: flex;
    align-items: center;
}
.gamer .gamer-part-img{
    width: auto;
}
.gamer .gamer-text{ 
    text-align: end;
    /* width: 520px; */
    /* margin: auto; */
    
}
.gamer .gamer-text h1{
    font-size: 48px;
    font-weight: 700px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    line-height: 60px;
}
.gamer .gamer-text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #534c64;
}
.gamer .gamer-text .btn{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin: 20px 0;
}
.gamer .gamer-text p span{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* we ara gamer part end */
/* online games funny video part stard */
.game .game-text{
    text-align: center;
    
}
.game .game-text h1{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px 0;
}
.game .game-text h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.game  .game-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #534c64;
}
.game .game-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 0 0;
}
/* .game .game-video .video{
    padding: 20px;
    background: #b1acbf;
    border-radius: 30px;
    
} */
.game .game-video .video p{
    width: 342px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #534c64;
}




/* online games funny video part end */

/* <!-- Play Instantly,No Downloads No Installs part stard  -->



<!-- Play Instantly,No Downloads No Installs part end -->
<!-- Play Games Online Anywhere, Anytime! part stard  -->


<!-- Play Games Online Anywhere, Anytime! part end --> */

/* careers part stard */
.careers-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careers{
    display: flex;
    align-items: center;
    color: #fff;
}
.careers .careers-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding: 30px 0;
}
.careers .careers-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    
}
.careers .careers-text .careers-skill {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.careers .careers-text .careers-skill p {
   font-size: 20px;
   font-weight: 600;
    line-height: 40px;

}
.careers .careers-text .careers-skill .location p{
    text-align: end;
}
.careers .careers-text .btn{
    color: #FF42A5;
    font-size: 20px;
    background: #fff;
    text-transform: uppercase;
    line-height: 50px;

}
.careers .careers-img{
    width: 100%;
}




/* careers part end */





























/* responsive css stard 
mobile device*/

@media screen and (max-width:768px) {
    
    .container{
        padding: 0 80px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        background: #b1acbf;
        width: 100%;
    }
    .menu .logo{
        margin-bottom: 50px;
    }
    .manu-item ul{
        flex-direction: column;
    }
    .manu-item .follow{
        
    }
    /* play-game-banner part stard */
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner .banner-text-part{
        text-align: center;
    }
    /* we ara gamer part stard  */
    .gamer{
        flex-direction: column;
        padding: 0 80px;
    }
    .gamer .gamer-part-img{
        width: fit-content;
        padding: ;
    }
    .gamer .gamer-text{
        text-align: center;
    }
    /* online games funny video part stard */
    .game{
        text-align: center;
    }
    .game .game-video{
        flex-direction: column;
        align-items: center;
    }
    .game .game-video .video{
        margin: 20px 0;
    }
    .game .game-video .video img{
        width: 100%;
    }

    /* Careers part stard  */
    .careers{
        flex-direction: column;
    }
    .careers .careers-img img{
        width: 650px;
        margin: 70px 0 0 0;
    }








}









